{% extends 'base.html' %}
{% load static %}
{% block title %}Магазин | Товар - {{ instance.name }} {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "css/etalage.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="women_main">
	<!-- start content -->
			<div class="row single">
				<div class="col-md-9 det">
				  <div class="single_left">
					<div class="grid images_3_of_2">
						<ul id="etalage">
							{% if instance.get_main_image %}
							<li>
								<img class="etalage_thumb_image" src="{{ instance.get_main_image }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ instance.get_main_image }}" class="img-responsive" title="{{ instance.name }}" />
							</li>
							{% else %}
							<li>
								<img class="etalage_thumb_image" src="http://lequytong.com/Content/Images/no-image-02.png" class="img-responsive" />
								<img class="etalage_source_image" src="http://lequytong.com/Content/Images/no-image-02.png" class="img-responsive" title="{{ instance.name }}" />
							</li>
							{% endif %}
							{% for img in i_images %}
							<li>
								<img class="etalage_thumb_image" src="{{ img.image.url }}" class="img-responsive" />
								<img class="etalage_source_image" src="{{ img.image.url }}" class="img-responsive" title="{{ instance.name }}" />
							</li>
							{% empty %}

							{% endfor %}
						</ul>
						 <div class="clearfix"></div>
				  </div>
				  <div class="desc1 span_3_of_2">
					<h3>{{ instance.name }}</h3>
					<span class="brand">Категория: <a href="/product/{{ instance.category.get_absolut_url }}">{{ instance.category }} </a></span>
					<br>
					<span class="code">Product Code: {{ instance.id }}</span>
						<div class="price">
							<span class="text">Цена:</span>
							<span class="price-new">
								{% if instance.discount > 0 %}
								{{ instance.get_discount_price }} руб.</span><span class="price-old">{{ instance.price }} руб.</span>
								{% else %}
								<span class="price-new">{{ instance.price }} руб.</span>
								{% endif %}
							<br><br>
						</div>
          <form id="form_buying_product" class="form-inline" action="{% url "ordersAdd" %}">{% csrf_token %}
            <div class="form-group">
                <input type="number" class="form-control" name="fbp_item_quantity" id="fbp_item_quantity">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-buy" id="fbp_submit"
                data-item_id = "{{ instance.id }}"
                data-item_name = "{{ instance.name }}"
                data-item_price = "{% if instance.discount > 0 %} {{ instance.get_discount_price }} {% else %} {{ instance.price }} {% endif %}"
					 value = "1"
                >Добавить в корзину</button>
            </div>
          </form>
			   	 </div>
          	    <div class="clearfix"></div>
          	   </div>
          	    <div class="single-bottom1">
          {% if instance.description %}
					<h6>Описание</h6>
					<p class="prod-desc">{{ instance.description }}</p>
          {% endif %}
				</div>
				<div class="single-bottom2">
					<h6>Похожие товары</h6>

					{% for rel in relative %}
						<div class="product">
						   <div class="product-desc">
								<div class="product-img">
		                           <img src="{% if rel.get_main_image %}{{ rel.get_main_image }}{% else %}http://lequytong.com/Content/Images/no-image-02.png{% endif %}" class="img-responsive " alt=""/>
		                       </div>
		                       <div class="prod1-desc">
		                           <h5><a class="product_link" href="/product/{{ rel.get_absolut_url }}">{{ rel.name }}</a></h5>
		                           <p class="product_descr"> {{ rel.description }}</p>
							   </div>
							  <div class="clearfix"></div>
					      </div>
						  <div class="product_price">
								<span class="price-access">{% if rel.discount > 0 %}{{ rel.get_discount_price }}{% else %}{{rel.price}}{% endif %} руб.</span>
								<a href="/product/{{ rel.get_absolut_url }}"><button class="button1"><span>Подробнее</span></button></a>
		                  </div>
						 <div class="clearfix"></div>
				     </div>
					  {% empty %}
					  <h5>Ничего не найдено 😞</h5>
					  {% endfor %}
		   	  </div>
	       </div>
          {% include 'products/productSideMenu.html' %}
		   <div class="clearfix"></div>
	  </div>
	<!-- end content -->
{% endblock %}

{% block scripts %}
<script src="{% static "js/jquery.etalage.min.js" %}"></script>
<script>
			jQuery(document).ready(function($){

				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true
					// click_callback: function(image_anchor, instance_id){
					// 	alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					// }
				});

			});
		</script>
{% endblock %}
