{% extends 'base.html' %}

{% block title %} {{ instance.name }} {% endblock %}

{% block menu %}
{% if  instance.children.all %}
    <h4>Sub Categories</h4>
    {% for i in instance.children.all %}
        <a href="{{ i.slug }}"> {{ i.name }} </a><br>
    {% endfor %}

    <br><hr>
{% endif %}
{% endblock %}

{% block special_offers %}
{% if instance.get_all_products %}
<div class="special">
	<div class="container">
		<h3>{{ instance.name }}</h3>
		<div class="specia-top">
			<ul class="grid_2">
        {% for i in instance.get_all_products %}
    		<li>
    				<a href="{{ i.slug }}"><img src="{% if i.image %}{{ i.image.url }}{% else %}http://lequytong.com/Content/Images/no-image-02.png{% endif %}" class="img-responsive" alt=""></a>
    				<div class="special-info grid_1 simpleCart_shelfItem">
    					<h5>{{ i.name }}</h5>
    					<div class="item_add"><span class="item_price"><h6>{{ i.price }}</h6></span></div>
    					<div class="item_add"><span class="item_price"><a href="{{ i.slug }}">Подробнее</a></span></div>
    				</div>
    		</li>
				{% empty %}
				<h5>Ничего не найдено 😞</h5>
        {% endfor %}
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
