{% extends 'base.html' %}
{% load static %}
{% block title %}Магазин | Категория - {{ instance.name }} {% endblock %}


{% block content %}
<!-- content -->
<div class="container">
<div class="women_main">
	{% include 'products/productSideMenu.html' %}
	<!-- start content -->
	<div class="col-md-9 w_content">
		<div class="women">
			<h4>{{ instance.name }} - <span>Всего в категории: {{ instance.get_count }}</span> </h4>
		     <div class="clearfix"></div>
		</div>
		<!-- grids_of_4 -->
		<div class="grids_of_4">
      {% for i in instance.get_all_products %}
		  <div class="grid1_of_4">
				<div class="content_box"><a href="/product/{{ i.get_absolut_url }}">
			   	   	 <img src="{% if i.get_main_image %}{{ i.get_main_image }}{% else %}{% static "images/no-img.png" %}{% endif %}" style="display:block;height:150px;width:191px;" alt=""/>
				   	  </a>
				    <h4><a href="/product/{{ i.get_absolut_url }}"> {{ i.name }}</a></h4>
					 <div class="grid_1 simpleCart_shelfItem">

					 <div class="item_add"><span class="item_price">Цена<h6>
						 {% if i.discount > 0 %} <b style="color:green;font-size:12pt;">{{ i.get_discount_price }}</b> <s>{{ i.price }}</s>
						 {% else %}
						 <b style="font-size:12pt;">{{ i.price }}</b>
						 {% endif %}
						 руб.</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="/product/{{ i.get_absolut_url }}">Подробнее</a></span></div>
					 </div>
			   	</div>
			</div>
      {% empty %}
      <h5>Ничего не найдено 😞</h5>
      {% endfor %}
			<div class="clearfix"></div>
		</div>
		<!-- end grids_of_4 -->
	</div>
	<div class="clearfix"></div>
	<!-- end content -->
{% endblock %}
