{% load mptt_tags %}

<div class="col-md-3 s-d">
  <div class="w_sidebar">
      <h4>Категории</h4>
      <ul>
         <li>
            <a href="{% url 'ProductFilter' %}">Все</a>
         </li>
         {% recursetree categories %}
             <li>
                 <a href="/product/{{ node.get_absolut_url }}">{{ node.name }} ({{ node.get_count }})</a>
                 {% if not node.is_leaf_node %}
                     <ul class="children">
                         {{ children }}
                     </ul>
                 {% endif %}
             </li>
         {% endrecursetree %}
      </ul>
</div>
</div>
