<div class="special">
	<div class="container">
		<h3>Скидки</h3>
		<div class="specia-top">
			<ul class="grid_2">
        {% for offer in offers %}
    		<li>
    				<a href="{{ product.get_absolute_url }}"><img src="{% if offer.image %}{{ offer.image.url }}{% else %}http://lequytong.com/Content/Images/no-image-02.png{% endif %}" class="img-responsive" alt=""></a>
    				<div class="special-info grid_1 simpleCart_shelfItem">
    					<h5>{{ offer.name }}</h5>
    					<div class="item_add"><span class="item_price"><h6>ВСЕГО {{ offer.price }}</h6></span></div>
    					<div class="item_add"><span class="item_price"><a href="{{ product.get_absolute_url }}">Подробнее</a></span></div>
    				</div>
    		</li>
				{% empty %}
				<h5>Сегодня без скидок 😞</h5>
        {% endfor %}
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>
