<div class="log">
   <div class="login" >
      <div id="loginContainer"><a href="#" id="loginButton"><span>Личный кабинет</span></a>
          <!-- <div id="loginBox">
             <form id="loginForm">
                      <fieldset id="body">
                        <fieldset>
                                <label for="email">Email адресс</label>
                                <input type="text" name="email" id="email">
                          </fieldset>
                          <fieldset>
                                  <label for="password">Пароль</label>
                                  <input type="password" name="password" id="password">
                           </fieldset>
                          <input type="submit" id="login" value="Вход">

                        <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Запомнить меня</i></label>
                     </fieldset>
                  <span><a href="#">Забыл пароль?</a> <input type="submit" id="login" value="Регистрация"></span>
                  <span>123</span>
            </form>
         </div> -->
      </div>
   </div>
</div>
<div class="reg"></div>
