<!-- {% block menu %}
{% load namify %}
<ul class="megamenu skyblue">
  <li class="grid"><a class="color1" href="/">Главная</a></li>
  <li class="grid"><a class="color2" href="/product/">Просмотр всех категорий</a>
  {% for i in instance.get_slug_list %}
  <li class="active grid"><a class="color3" href="/product/{{ i }}">{{ i | get_name }}</a>
  {% if instance.children.all %}
  <div class="megapanel">
  					<div class="row">
  						<div class="col1">
  							<div class="h_nav">
  								<h4>Подкатегории для<br/>{{ instance.name }}</h4>
  								<ul>
                    {% for j in instance.children.all %}
                    <li><a href="{{ j.slug }}">{{ j.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
  {% endif %}
</li>
  {% endfor %}
 </ul>
{% endblock %}

{% block test %}
{% if instance.get_all_products %}
<div class="special">
	<div class="container">
		<h3>{{ instance.name }}</h3>
		<div class="specia-top">
			<ul class="grid_2">
        {% for i in instance.get_all_products %}
    		<li>
    				<a href="/product/{{ i.get_absolut_url }}"><img src="{% if i.image %}{{ i.image.url }}{% else %}http://lequytong.com/Content/Images/no-image-02.png{% endif %}" class="img-responsive" alt=""></a>
    				<div class="special-info grid_1 simpleCart_shelfItem">
    					<h5>{{ i.name }}</h5>
    					<div class="item_add"><span class="item_price"><h6>{{ i.price }}</h6></span></div>
    					<div class="item_add"><span class="item_price"><a href="/product/{{ i.get_absolut_url }}">Подробнее</a></span></div>
    				</div>
    		</li>
				{% empty %}
				<h5>Ничего не найдено 😞</h5>
        {% endfor %}
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}


{% block menu %}
{% load namify %}
<ul class="megamenu skyblue">
  <li class="grid"><a class="color1" href="/">Главная</a></li>
  <li class="grid"><a class="color2" href="/product">Просмотр категорий</a>
  {% for i in instance.category.get_slug_list %}
  <li class="active grid"><a class="color3" href="/product/{{ i }}">{{ i | get_name }}</a></li>
  {% endfor %}
 </ul>
{% endblock %} -->
