{% extends "base.html" %}
{% load static %}

{% block title %}
  Спасибо за заказ
{% endblock %}

{% block content %}
<div class="special">
	<div class="container">
		<h3>Успешно</h3>
		<div class="specia-top">
				<h5>Спасибо за заказ 😊</h5>
            <center>
            <p>Идентификатор вашего заказа: {{ new_order.id }}</p>
            <p>На указанную вами почту отправлена информация о заказе</p>
            <p>Ожидайте звонка от оператора</p></center>
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>
{% endblock %}
