{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница магазина{% endblock %}

{% block content %}

<div class="special">
	<div class="container">
		<h3>Скидки</h3>
		<div class="specia-top">
			<ul class="grid_2">
        {% for offer in offers %}
    		<li>
    				<a href="/product/{{ offer.get_absolut_url }}"><img src="{% if offer.get_main_image %}{{ offer.get_main_image }}{% else %}{% static "images/no-img.png" %}{% endif %}" style="display:block;margin-top:50px;height:167px;max-width:262.2px;width:100%;" alt=""></a>
    				<div class="special-info grid_1 simpleCart_shelfItem">
    					<h5>{{ offer.name }}</h5>
    					<div class="item_add"><span class="item_price"><h6><font color="red">{% if offer.discount > 0 %} {{ offer.get_discount_price }} <s><font color="black">{{ offer.price }}</font></s>
						{% else %}
						{{ offer.price }}
						{% endif %}
						руб.</font></h6></span></div>
    					<div class="item_add"><span class="item_price"><a href="/product/{{ offer.get_absolut_url }}">Подробнее</a></span></div>
    				</div>
    		</li>
				{% empty %}
				<h5>Сегодня без скидок 😞</h5>
        {% endfor %}
		  <li>
			  <a href="{% url 'ProductFilter' %}?discount=discount"><img src="{% static "images/skidki.jpg" %}" class="img-responsive" alt=""></a>
		  		<div class="special-info grid_1 simpleCart_shelfItem">
					<br><br>
					<div class="item_add"><span class="item_price"><a href="{% url 'ProductFilter' %}?discount=discount">Все скидки</a></span></div>
		  		</div>
		  </li>
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>

<div class="special">
	<div class="container">
		<h3>Новые товары</h3>
		<div class="specia-top">
			<ul class="grid_2">
        {% for item in all_prod %}
    		<li>
    				<a href="/product/{{ item.get_absolut_url }}"><img src="{% if item.get_main_image %}{{ item.get_main_image }}{% else %}{% static "images/no-img.png" %}{% endif %}" style="display:block;margin-top:50px;height:167px;max-width:262.2px;width:100%;" alt=""></a>
    				<div class="special-info grid_1 simpleCart_shelfItem">
    					<h5>{{ item.name }}</h5>
    					<div class="item_add"><span class="item_price"><h6><font color="red">{% if item.discount > 0 %} {{ item.get_discount_price }} <s><font color="black">{{ item.price }}</font></s>
						{% else %}
						{{ item.price }}
						{% endif %}
						руб.</font></h6></span></div>
    					<div class="item_add"><span class="item_price"><a href="/product/{{ item.get_absolut_url }}">Подробнее</a></span></div>
    				</div>
    		</li>
				{% empty %}
				<h5>Ничего не найдено 😞</h5>
        {% endfor %}
		  <li>
			  <a href="{% url 'ProductFilter' %}"><img src="{% static "images/mebel.jpg" %}" class="img-responsive" alt=""></a>
		  		<div class="special-info grid_1 simpleCart_shelfItem">
					<br><br>
					<div class="item_add"><span class="item_price"><a href="{% url 'ProductFilter' %}?date=new">Все товары</a></span></div>
		  		</div>
		  </li>
		<div class="clearfix"> </div>
	</ul>
		</div>
	</div>
</div>

{% endblock %}
