{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница магазина{% endblock %}

{% block content %}

<!-- content -->
<div class="container">
<div class="main">
<div class="contact">
					<div class="contact_info">
						<h2>Мы Тут</h2>
			    	 		<div class="map">
					   			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d684.4192753420955!2d38.884675289702166!3d54.76057820044627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4135f0fa3cd7aa53%3A0x50da427c0ddd10f5!2z0JvQtdC90LjQvdGB0LrQsNGPINGD0LsuLCDQl9Cw0YDQsNC50YHQuiwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7Lg!5e0!3m2!1sru!2sru!4v1527957752879" width="100%" height="250" frameborder="0" style="border:0"></iframe>
                        </div>
      				</div>
				  <div class="contact-form">
			 	  	 	<h2>Горячая Линия</h2>
						<p>Специалисты смогут Вам дать консультации по мебели; по месторасположению, графику работы и сервисах в магазе; рекламациям по заказам.</p>
						<p>Ваши предложения попадут руководителям соответствующих подразделений.</p>
						<p>Поделитесь с нами своими предложениями по усовершенствованию мебели, улучшению качества сервиса магазинов.</p>
						<p>Отправляя сообщение на Горячую линию - Вы помогаете нам стать лучше! Спасибо!</p>
						<p>Так же для Вас работает телефонная горячая линия 8-800-555-55-55 (звонок бесплатный)</p>

<br>
<h2>О Нас</h2>
<p>Мебельная компания «FEDOTOV-SHOP» ведет свою историю с июля 1961г., когда в одном из цехов предприятия было начато изготовление мебели с выпуска первой партии платяных шкафов. Пройдя эпоху своего становления и развития в годы плановой экономики и этап глубоких преобразований на пути перехода к рыночной экономике в середине 90-х, в конце XX века «FEDOTOV-SHOP» стала крупнейшим предприятием отечественной мебельной промышленности, лидером мебельного рынка России. Сегодня Компания выпускает корпусную бытовую мебель, предназначенную для потребителей со средним уровнем доходов, а также малого и среднего бизнеса. </p>
<p>Постоянно обновляя и совершенствуя свой ассортимент, Компания осуществляет производство мебели для гостиных, спален, прихожих, детских, кухонь, офисную мебель для руководителей и оперативного состава. </p>
<p>Многие из выпущенных «FEDOTOV-SHOP» мебельных коллекций уникальны и не имеют аналогов по соотношению цена/качество.</p>
<p>Обладая самой развитой в России сетью фирменных магазинов (более 600), «FEDOTOV-SHOP» с начала XXI века является самым известным и единственным национальным мебельным брэндом, что подтверждается неоднократными победами в конкурсах. </p>
<ul>
<li>лауреат Премии «Права Потребителей и качество обслуживания» 2017</li>
<li>лауреат премии «Лучшее для жизни 2016»</li>
<li>лауреат конкурса «Национальный знак качества 2015»</li>
<li>В 2008 г. бренд «FEDOTOV-SHOP» вошел в число 50 самых продаваемых российских брендов по версии журнала «Forbes»</li>
<li>Победитель конкурса «Народная марка»</li>
<li>Победитель конкурса «100 лучших товаров в России» с 2004 по 2007 г.г.</li>
<li>Обладатель Золотого «Знака качества» 2009</li>
<li>Победитель всероссийского конкурса «Лучшее российское предприятие»</li>
<li>Обладатель приза «Российская кабриоль» 2012 г. в номинации «Кухонная мебель»</li>
<li>Лауреат конкурса «Российская кабриоль» 2012 г. в номинации «Коллекция корпусной мебели для жилых помещеий»</li>
</ul>
<p>Постоянно развивая и совершенствуя свои бизнесы, Компания представляет собой организационную структуру, основанную на системе экономически самостоятельных, географически обособленных подразделений (бизнес-единиц) в рамках единого юридического лица, взаимодействующих между собой по правилам внутреннего рынка, которые максимально приближены к правилам рынка внешнего. </p>
<br><i>* текст взят с сайта https://www.shatura.com/about/history/ и используется для личного ознакомления</i>
</div>
  				<div class="clearfix"></div>
			  </div>
</div>
</div>
{% endblock %}
