{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница магазина{% endblock %}

{% block content %}
<!-- content -->
<div class="container">
<div class="main">
<div class="contact">
<div class="contact_info">

<h2>Оплата</h2>

<h2>Наличными в момент доставки мебели</h2>
			<ol>
				<li><span>Сделайте заказ в нашем интернет-магазине.</span></li>
				<li><span>По телефону продавец интернет-магазина согласует с Вами состав заказа и необходимые услуги.</span></li>
				<li><span>После разгрузки упаковок с мебелью Вы сможете оплатить наличными экспедитору и получить полный комплект документов.</span></li>
			</ol>
		</div>
		<div>

			<h2>Оплата on-line пластиковой картой</h2>
			<p>Оплата происходит через авторизационный сервер Процессингового центра Банка с использованием Банковских кредитных карт следующих платежных систем:</p>

			<div style="clear: both; border: none !important;"></div>

			<ol>
				<li><span>Сделайте заказ в нашем интернет-магазине.</span></li>
				<li><span>При согласовании Вашего заказа по телефону сообщите продавцу о необходимости оплаты картой. </span></li>

				<li><span>После оформления заказа в интернет-магазине АО МК FEDOTOV-SHOP,  Вам на адрес эл. почты поступит письмо с адреса yechezlaip@gmail.com. Необходимо пройти по ссылке, обозначенной в письме:</span><br></li>
				<li><span>Оплата выполняется по ссылке, отпраленной менеджером интернет-магазина на электронную почту, после подтверждения заказа по телефону.<br><br>

Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.<br><br>

В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.<br><br>

Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</span></li>
				<li><span>   Для оплаты заказа Вам потребуются:<br><br>

- номер вашей кредитной карты;<br>
- cрок окончания действия вашей кредитной карты, месяц/год;<br>
- CVV код для карт Visa / CVC код для Master Card (3 последние цифры на полосе для подписи на обороте карты).<br>

</span><br></li>
<li><span>Для окончания операции подтвердите платеж. Обратите внимание, что ссылка на оплату действует один раз.</span></li>
			</ol>
		</div>
		<div>

			<h2>Безналичный платёж через банк</h2>

			<ol>
				<li><span>Сделайте заказ в нашем интернет-магазине. </span></li>
				<li><span>При согласовании Вашего заказа по телефону <strong>сообщите продавцу о необходимости оплаты картой.</strong> </span></li>
				<li><span>Заполнить квитанцию <strong>только за товар</strong>, заполнив все необходимые поля (ФИО, адрес плательщика, номер заказа, сумму оплаты). </span></li>
				<li><p><strong>Отдельно заполнить квитанцию за услуги</strong></p>
					<p>Очень важно оплачивать двумя отдельными квитанциями «за товар» и за «услуги», если этого не сделать возникнуть сложности при идентификации Вашего платежа. При оплате товара или услуг банк взымает комиссию. Размер комиссии уточняйте в банке.</p>
					<p><small>При оплате товара или услуг банк взымает комиссию.<br>Размер комиссии уточняйте в банке.</small></p>
				</li>
				<li><span>После оплаты заказа обязательно сообщите оплаченную сумму и номер заказа продавцу интернет-магазина (ссылка в Контакты) или сотруднику колл-центра.</span></li>
			</ol>
		</div>
		<div>
			<h2>Оформление заказа в кредит или рассрочку</h2>
			<ol>
				<li><span>Сделайте заказ в нашем интернет-магазине. </span></li>
				<li><span>Выберите банк</span>
				</li>
				<li><span>При согласовании Вашего заказа по телефону сообщите продавцуо необходимости рассрочки или кредита. </span></li>
				<li><span>Продавец интернет-магазина проконсультирует о Ваших дальнейших действиях в зависимости от выбранной кредитной программы.</span></li>
			</ol>
		</div>
		<span class="hlop">Возврат средств при оплате пластиковой картой</span>
		<div class="hlop-hide" style="display: none;">
			<p>Если Вы оплатили заказ пластиковой картой в нашем интернет-магазине и деньги поступили на наш счёт, а потом решили отказаться от заказа — в этом случае возврат денег поступивших на наш счёт осуществляется безналично и на ту же карту с которой получен платёж.</p>
			<p><strong>Внимание! Возврат денег осуществляется до момента отгрузки товара со склада.</strong></p>
			<p>Процедура возврата осуществляется на основании письменного заявления покупателя в ОАО «Мебельная компания «FEDOTOV-SHOP».</p>
			<p>В заявлении должны быть: </p>
			<ul>
				<li>паспортные данные покупателя;</li>
				<li>номер заказа; </li>
				<li>причина отказа от заказа; </li>
				<li>контактная информация покупателя;</li>
			</ul>
			<p>Оригинал заявления отсылается почтой на адрес: 140600, Россия, Московская обл., г. Зарайск, ул. Ленинская, дом 34, для интернет-магазина.</p>
			<p>Отсканированная копия заявления отправляется на адрес <a href="mailto:yechezlaip@gmail.com">yechezlaip@gmail.com</a></p>
			<small>Примечание 1. Информация, указываемая в настоящей заявке, является конфиденциальной и используется только для оказания оператором услуг по подписке.</small><br>
			<small>Примечание 2. Подписчик может отказаться от получения услуг по полному доступу к сайту только в течение 14 (Четырнадцати) дней с даты оплаты подписки картой Visa и MasterCard. В этом случае он направляет Оператору заявление с указанием о приостановке подписки и возврате денежных средств. Оператор возвращает подписчику денежные средства за вычетом сумм комиссии банка и суммы за фактически использованное время подписки.</small>
		</div>
      <br><i>* текст взят с сайта https://www.shatura.com/pay-online/ и используется для личного ознакомления</i>

</div>
<div class="clearfix"></div>
</div>
</div>
</div>
{% endblock %}
